@import "color";
@import "variable-form";
@import "simulator";

body {
  margin: 0;
  padding: 40px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "Arial", sans-serif;
}
h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
}
